sillycat-thrift-python/sillycat-thrift-pygen/gen-py/
sillycat-thrift-python/gen-py
sillycat-thrift-python/.idea

sillycat-thrift-java/sillycat-thrift-javaserver/target
sillycat-thrift-java/sillycat-thrift-javaserver/.factorypath
sillycat-thrift-java/sillycat-thrift-javaserver/.classpath
sillycat-thrift-java/sillycat-thrift-javaserver/.project
sillycat-thrift-java/sillycat-thrift-javaclient/.project
sillycat-thrift-java/sillycat-thrift-javaclient/.factorypath
sillycat-thrift-java/sillycat-thrift-javaclient/.settings
sillycat-thrift-java/sillycat-thrift-javaclient/.classpath
sillycat-thrift-java/sillycat-thrift-javaclient/target
sillycat-thrift-java/sillycat-thrift-javaserver/.classpath
sillycat-thrift-java/sillycat-thrift-javaserver/.settings
sillycat-thrift-java/sillycat-thrift-javaapi/.classpath
sillycat-thrift-java/sillycat-thrift-javaapi/.project
sillycat-thrift-java/sillycat-thrift-javaapi/.settings
sillycat-thrift-java/sillycat-thrift-javaapi/target
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
